// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scroll-thead, .scroll-tbody {
  display: block;
  text-align: center;
}
.scroll-tbody {
  overflow-y: scroll;
  height: 400px;
}
th, td {
  width: 200px;
}